Group No;Group Name;Name;Sub Name;Repeater Call Sign;Gateway Call Sign;Frequency;Dup;Offset;Mode;TONE;Repeater Tone;RPT1USE;Position;Latitude;Longitude;UTC Offset
{%- for row in data.itertuples(index=False) %}
{%- set sub_name = "" if (row['name_formatted'] == row['callsign']) else row['callsign'] %}
{%- if row['fm'] %}
{{ '%02d' | format(args.icom_group_number | default(0, True)) }};{{ args.icom_group_name | default('', True) | substring(0,16) }};{{ row['name_formatted'] | replace_umlauts | remove_diacritic | substring(0,16) }};{{ sub_name | default('', True) | substring(0,16) }};{{ row['callsign'] | default('', True) }};;{{ "%.6f" | format(row['freq_rx']) | replace('.', ',') }};{{ row['dup'] | default('', True) }};{{ "%.6f" | format(row['offset']) | default('', True) | replace('.', ',') }};FM;{{ row['tone'] }};{{ row['ctcss_tx'] | default('88,5', True) | format_ctcss | replace('.', ',') }}Hz;{{ row['rpt_use'] | default('YES', True) }};{{ "Exact" if row['loc_exact'] else "Approximate" | default('None', True) }};{{ row['lat'] | default('', True) | replace('.', ',') }};{{ row['long'] | default('', True) | replace('.', ',') }};+1:00
{%- elif row['dstar'] %}
{{ '%02d' | format(args.icom_group_number | default(0, True)) }};{{ args.icom_group_name | default('', True) | substring(0,16) }};{{ row['name_formatted'] | replace_umlauts | remove_diacritic | substring(0,16) }};{{ sub_name | default('', True) | substring(0,16) }};{{ row['callsign'] | format_callsign_dstar(row['dstar_rpt1']) | default('', True) }};{{ row['callsign'] | format_callsign_dstar(row['dstar_rpt2']) | default('', True) }};{{ "%.6f" | format(row['freq_rx']) | replace('.', ',') }};{{ row['dup'] | default('', True) }};{{ "%.6f" | format(row['offset']) | default('', True) | replace('.', ',') }};DV;{{ row['tone'] }};{{ row['ctcss_tx'] | default('88,5', True) | format_ctcss | replace('.', ',') }}Hz;{{ row['rpt_use'] | default('YES', True) }};{{ "Exact" if row['loc_exact'] else "Approximate" | default('None', True) }};{{ row['lat'] | default('', True) | replace('.', ',') }};{{ row['long'] | default('', True) | replace('.', ',') }};+1:00
{%- endif -%}
{%- endfor %}