Group;Group Name;Name;Date;Time;Latitude;Longitude;Altitude;Alarm
{%- for row in data.itertuples(index=False) %}
{{ row['icom_group_number_alphabetical'] | default('', True) | substring(0,1) }};{{ args.icom_group_name | default('', True) | substring(0,16) }};{{ row['name_formatted'] | replace_umlauts | remove_diacritic | substring(0,16) }};{{ now().strftime("%d.%m.%Y") }};{{ now().strftime("%H:%M:%S") }};{{ row['lat'] | default('', True) | replace('.', ',') }};{{ row['long'] | default('', True) | replace('.', ',') }};{{ row['sea_level'] | default('', True) | replace('.', ',') }};OFF
{%- endfor %}