Wn	World Region	Cn	Country	Gn	Group	Callsign	Gateway	Lockout	Name	Sub Name	Frequency	Shift	Offset	Mode	Uplink Tone	Downlink Tone	Position	Lat DD	Lat MM.mm	N/S	Lon DDD	Lon MM.mm	E/W	Time Zone	TH-D74A	TH-D74E	TH-D74	Aux 1	Aux 2	Aux 3
{%- for row in data.itertuples(index=True) %}
{%- if row['dstar'] %}
{{ '%01d' | format(args.kenwood_world_number | default(4, True)) }}	{{ args.kenwood_world_name | default('Import', True) }}	{{ '%01d' | format(args.kenwood_country_number | default(9, True)) }}	{{ args.kenwood_country_name | default('Default', True) }}	{{ '%01d' | format(args.kenwood_group_number | default(75, True)) }}	{{ args.kenwood_group_name | default('Default', True) }}	{{ row['callsign'] | format_callsign_dstar(row['dstar_rpt1']) | default('', True) }}	{{ row['callsign'] | format_callsign_dstar(row['dstar_rpt2']) | default('', True) }}	Off	{{ row['name_formatted'] | replace_umlauts | remove_diacritic }}	{{ row['landmark'] | replace_umlauts | remove_diacritic }}	{{ row['freq_rx'] | replace(',', '.') }}	{{ row['dup'] | default('-', True) }}	{{ row['offset'] | default('0.0', True) | replace(',', '.') }}	Digital	Off	Off	{{ "Exact" if row['loc_exact'] else "Approx." | default('Invalid', True) }}	{{ row['lat_dd'] | default('0', True) }}	{{ row['lat_mm'] | float | format_coordinate(2) | replace(',', '.') }}	{{ row['lat_direction'] | default('N', True) }}	{{ row['long_dd'] | default('0', True) }}	{{ row['long_mm'] | float | format_coordinate(2) | replace(',', '.') }}	{{ row['long_direction'] | default('N', True) }}	+1:00	On	On	On	-	-	-
{%- endif -%}
{%- endfor %}
