"Num","Name","Split","Scan","Freq","Mode","Filter","Data","Duplex","Tn Mode","DSQL","Tone","TSQL","DTCS","DTCS Pol","DV Sql","Offset","UR","R1","R2","Freq B","Mode B","Filter B","Data B","Duplex B","Tn Mode B","DSQL B","Tone B","TSQL B","DTCS B","DTCSP B","DV Sql B","Offset B","UR B","R1 B","R2 B"
{%- set count = namespace(value=-1) %}
{%- for row in data.itertuples(index=False) %}
{%- if row['fm'] %}
{%- set count.value = count.value + 1 %}
{%- if row['band'] != "radio" %}
"{{ '%03d' | format(count.value) }}","{{ row['name_formatted'] | replace_umlauts | remove_diacritic | substring(0,16) | ljust(16,' ') }}","OFF","{{ row['scan'] }}","{{ "%.5f" | format(row['freq_rx']) | replace(',', '.') }}","FM","FIL1","OFF","{{ row['duplex'] }}","{{ row['tone'] }}","OFF","{{ row['ctcss_tx'] | default('88,5', True) | format_ctcss | replace(',', '.') }}","{{ row['ctcss_rx'] | default('88,5', True) | format_ctcss | replace(',', '.') }}","023","BOTH N","00","{{ row['freq_offset'] }}","{{ "CQCQCQ" | ljust(8,' ') }}","{{ "" | ljust(8,' ') }}","{{ "" | ljust(8,' ') }}","{{ "%.5f" | format(row['freq_rx']) | replace(',', '.') }}","FM","FIL1","OFF","{{ row['duplex'] }}","{{ row['tone'] }}","OFF","{{ row['ctcss_tx'] | default('88,5', True) | format_ctcss | replace(',', '.') }}","{{ row['ctcss_rx'] | default('88,5', True) | format_ctcss | replace(',', '.') }}","023","BOTH N","00","{{ row['freq_offset'] }}","{{ "CQCQCQ" | ljust(8,' ') }}","{{ "" | ljust(8,' ') }}","{{ "" | ljust(8,' ') }}"
{%- else %}
"{{ '%03d' | format(count.value) }}","{{ row['name_formatted'] | replace_umlauts | remove_diacritic | substring(0,16) | ljust(16,' ') }}","OFF","{{ row['scan'] }}","{{ "%.5f" | format(row['freq_rx']) | replace(',', '.') }}","WFM","FIL1","OFF","{{ row['duplex'] }}","{{ row['tone'] }}","OFF","{{ row['ctcss_tx'] | default('88,5', True) | format_ctcss | replace(',', '.') }}","{{ row['ctcss_rx'] | default('88,5', True) | format_ctcss | replace(',', '.') }}","023","BOTH N","00","{{ row['freq_offset'] }}","{{ "CQCQCQ" | ljust(8,' ') }}","{{ "" | ljust(8,' ') }}","{{ "" | ljust(8,' ') }}","{{ "%.5f" | format(row['freq_rx']) | replace(',', '.') }}","WFM","FIL1","OFF","{{ row['duplex'] }}","{{ row['tone'] }}","OFF","{{ row['ctcss_tx'] | default('88,5', True) | format_ctcss | replace(',', '.') }}","{{ row['ctcss_rx'] | default('88,5', True) | format_ctcss | replace(',', '.') }}","023","BOTH N","00","{{ row['freq_offset'] }}","{{ "CQCQCQ" | ljust(8,' ') }}","{{ "" | ljust(8,' ') }}","{{ "" | ljust(8,' ') }}"
{%- endif %}
{%- else %}
"{{ '%03d' | format(count.value) }}","{{ row['name_formatted'] | replace_umlauts | remove_diacritic | substring(0,16) | ljust(16,' ') }}","OFF","{{ row['scan'] }}","{{ "%.5f" | format(row['freq_rx']) | replace(',', '.') }}","DV","FIL1","OFF","{{ row['duplex'] }}","{{ row['tone'] }}","OFF","{{ row['ctcss_tx'] | default('88,5', True) | format_ctcss | replace(',', '.') }}","{{ row['ctcss_rx'] | default('88,5', True) | format_ctcss | replace(',', '.') }}","023","BOTH N","00","{{ row['freq_offset'] }}","{{ "CQCQCQ" | ljust(8,' ') }}","{{ "" | ljust(8,' ') }}","{{ "" | ljust(8,' ') }}","{{ "%.5f" | format(row['freq_rx']) | replace(',', '.') }}","DV","FIL1","OFF","{{ row['duplex'] }}","{{ row['tone'] }}","OFF","{{ row['ctcss_tx'] | default('88,5', True) | format_ctcss | replace(',', '.') }}","{{ row['ctcss_rx'] | default('88,5', True) | format_ctcss | replace(',', '.') }}","023","BOTH N","00","{{ row['freq_offset'] }}","{{ "CQCQCQ" | ljust(8,' ') }}","{{ "" | ljust(8,' ') }}","{{ "" | ljust(8,' ') }}"
{%- endif -%}
{%- endfor %}
