{{#each (asciinema-split page.attributes.asciinemacasts)}}
    <script>AsciinemaPlayer.create('{{{@root.siteRootPath}}}/_asciinema/{{this}}.cast', document.getElementById('{{this}}'), {"cols": "80", "rows": "24", "autoPlay": "false", "preload": "true", "terminalFontSize": "85%", fit: "none"})</script>
{{/each}}
