{{#> asciinema-load-scripts }}
  <!-- No Asciinema load scripts found -->
{{/asciinema-load-scripts}}
{{> asciinema-create-ext }}

<script async src="{{{uiRootPath}}}/js/vendor/tabs.js" data-sync-storage-key="preferred-tab"></script>