<link rel="stylesheet" href="{{{uiRootPath}}}/css/nav-ext.css">
<link rel="stylesheet" href="{{{uiRootPath}}}/css/admonition-ext.css">

{{#> asciinema-styles }}
  <!-- No Asciinema styles found -->
{{/asciinema-styles}}
<link rel="stylesheet" href="{{{uiRootPath}}}/css/vendor/asciinema-ext.css">

<link rel="stylesheet" href="{{{uiRootPath}}}/css/vendor/tabs.css">

<link rel="icon" href="{{{uiRootPath}}}/img/favicon.ico" type="image/x-icon">