<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Suche"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <!--a class="navbar-item" href="{{{or site.url siteRootPath}}}">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Links</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.oevsv.at/funkbetrieb/amateurfunkfrequenzen/ukw-referat/">ÖVSV-UKW Referat</a>
            <a class="navbar-item" href="https://chirp.danplanet.com">Chirp</a>
          </div>
        </div-->
        <a class="navbar-item" href="https://gitlab.com/oe3lrt/memory-channels-processor">GitLab Repo</a>
        <!--div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">Download</a>
          </span>
        </div-->
      </div>
    </div>
  </nav>
</header>
